

<%# <%

  def getOpenValue(date)
    data = @stocks.find_by("date=?", DateTime.parse(date))
    return data.open
  end

  def compareToGrowth(date1, date2)
    value1 = getOpenValue(date1)
    value2 = getOpenValue(date2)
    return (value2 - value1).round(2)
  end

  def growthInPercents(date1, date2)
    return (date2[0, 5].to_i - date1[0, 5].to_i)/date1[0, 5].to_i * 100
  end
%>


<h1>S&P500</h1>

<%= area_chart @stocks.group_by_year(:date).pluck(:date, :open), colors:["#8AFFC9"], label: "Price"%>


<div class="datepickerDiv">
  <span><input type="text" id="datepicker1" hint="From"></span>
  <span><input type="text" id="datepicker2" hint="To"></span>
  <span><button id="calculateBtn">Calculate 📈</button></span>
</div>


<%# <%
  d1 = '2002.10.10'
  d2 = '2015.10.10'
%>

<div class="inflation">
  <div id="date1"></div>
  <div id="dateValidness"></div>
  <div id="inflation"></div>



  <%# <div id="wikimedia"></div> %>

  <%# <div id="compareToGrowth"> Growth during that period of time <%= compareToGrowth('2002.10.10', '2015.10.10')
  %>
  <%# <div id="compareToGrowth"> In percents: <%= growthInPercents('2015.10.10', '2015.10.10')</div> %>
</div>



<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
